package $db.BasePackage$db.packageSufix;

import java.util.List;

import org.springframework.data.repository.CrudRepository;

import ${db.BasePackage}model.{db.table};

public interface $db.table$db.outputFileSufix extends CrudRepository<$db.table, Long> {

	List<$db.table> findAllByUserId(Long id);

	$db.table findByIdAndUserId(Long id, Long userId);
	
}