package $db.BasePackage$db.packageSufix;

import java.util.Date;

import javax.persistence.Entity;
import javax.persistence.GeneratedValue;
import javax.persistence.GenerationType;
import javax.persistence.Id;

@Entity
public class $db.table$db.outputFileSufix {

#foreach($field in $db.colls)
	${java.getIdProperties($field.name)}
	private ${java.getType($field.name, $field.type)} $field.name;
#end

#foreach($field in $db.colls)
	public ${java.getType($field.name, $field.type)} get${java.getMethodName($field.name)}() {
		return this.$field.name;
	}

	public void set${java.getMethodName($field.name)}(${java.getType($field.name, $field.type)} $field.name) {
		this.$field.name = $field.name;
	}

#end
}