package $db.BasePackage$db.packageSufix;

import java.util.List;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.http.MediaType;
import org.springframework.web.bind.annotation.DeleteMapping;
import org.springframework.web.bind.annotation.GetMapping;
import org.springframework.web.bind.annotation.PathVariable;
import org.springframework.web.bind.annotation.PostMapping;
import org.springframework.web.bind.annotation.PutMapping;
import org.springframework.web.bind.annotation.RequestBody;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RestController;

import ${db.BasePackage}model.$db.table;
import ${db.BasePackage}service.${db.table}ServiceImpl;

@RestController
@RequestMapping(path = "/${stringUtil.lower($db.table)}")
public class ${db.table}ApiController {

	@Autowired
	private ${db.table}ServiceImpl service;
	
	@GetMapping(path="/{id}", produces = MediaType.APPLICATION_JSON_VALUE)
	public List<${db.table}> getAll${db.table}(@PathVariable Long id){
		return service.findAllById(id);
	}
	
	@GetMapping(path="/{baseId}/{id}", produces = MediaType.APPLICATION_JSON_VALUE)
	public ${db.table} get${db.table}(@PathVariable Long baseId, @PathVariable Long id){
		return service.findByIdAndBaseId(id, baseId);
	}
	
	@PostMapping(consumes = MediaType.APPLICATION_JSON_VALUE)
	public void save${db.table}(@RequestBody ${db.table} payload){
		service.create(payload);
	}
	
	@PutMapping(consumes = MediaType.APPLICATION_JSON_VALUE)
	public void update${db.table}(@RequestBody ${db.table} payload){
		service.update(payload);
	}
	
	@DeleteMapping(path="/{id}", produces = MediaType.APPLICATION_JSON_VALUE)
	public void delete${db.table}(@PathVariable Long id){
		service.delete(id);
	}
	
	
}