package $db.BasePackage$db.packageSufix;

import java.util.List;
import java.util.Optional;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;

import ${db.BasePackage}model.${db.table};
import ${db.BasePackage}repository.${db.table}Repository;

@Service
public class $db.table$db.outputFileSufix implements ${db.table}Service {

	@Autowired
	private ${db.table}Repository repository;

	public void create($db.table objToSave){
		repository.save(objToSave);
	}

	public void update($db.table objToUpdate){
		repository.save(objToUpdate);
	}

	public void delete(Long id){
		repository.deleteById(id);
	}

	public List<${db.table}> getAll(){
		return repository.getAllObjects();
	}

	public Optional<${db.table}> get${db.table}(Long id){
		return repository.getObjectById(id);
	}

}

